<div class="container">
  <h2>Articles</h2>
  <% @articles.each do |article| %>
    <div class="card-article border-bottom py-3">
      <img src="<%= article.pic_url %>" alt="article-image">
      <div class="card-article-infos">
        <h2><%= link_to article.title, article %></h2>
        <p><%= article.date.strftime("%B %d, %Y") %> </p>
        <p>By <%= article.author %></p>
      </div>
    </div>
  <% end %>
</div>


