<div class="home-second-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path banner_image %> );">
  <div class="container">
    <div class="home-banner-title"><%= banner_title %></div>
    <p><%= banner_description %></p>
    <p class="text-center mt-4"><%= link_to button_title, button_path, class: "btn btn-cart" %></p>
  </div>
</div>
